<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-title>
      Login
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form [formGroup]="form" class="form-class">
        <mat-form-field [floatLabel]="'always'" appearance="outline">
          <mat-label>Username</mat-label>
          <input class="form-control" formControlName="username" matInput type="email" />
          <!-- <span matPrefix>$&nbsp;</span> -->
        </mat-form-field>

        <!-- <span class="material-icons">lock</span> -->
        <mat-form-field [floatLabel]="'always'" appearance="outline">
          <mat-label>Password</mat-label>
          <input class="form-control" formControlName="password" matInput type="password" />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions [align]="'end'">
      <button (click)="emailLogin()" mat-button>Login</button>
      <button (click)="googleLogin()" mat-button>Login With Google</button>
    </mat-card-actions>
  </mat-card>
</div>